.author {
  display: flex;
  flex-direction: row;
  border-top: 0.5rem solid var(--color-primary);
  padding-top: 2rem;
}

.author__imgContainer {
  flex-basis: 30%;
}

.author__img {
  border-radius: 50%;
}

.author__detailsContainer {
  flex-basis: 65%;
  margin-left: 5%;
}

.author__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@media screen and (min-width: 520px) {
  .author__links {
    flex-direction: row;
  }
}

.author__linkText {
  text-transform: uppercase;
  color: var(--color-foreground);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1rem;
}

.author__name {
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
}

.author__description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
}
