.button {
  border-radius: 0;
  border: 0.125rem solid var(--color-foreground);
  text-transform: uppercase;
  font-family: var(--font-family-main);
  font-size: 1.5rem;
  display: inline-block;
  background-color: var(--color-foreground);
  padding: 0.5rem 1rem;
  color: var(--color-background);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-weight: var(--font-weight-normal);
  border: 0.125rem solid var(--color-background);
  margin-bottom: 2rem;
}

.button:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
  box-shadow: none;
}

.button:focus {
  outline-width: 0;
  box-shadow: var(--color-primary) 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
}
