.publishedDate {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
  display: flex;
}
